<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Appointment_Manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>ds.appointment_manager.services.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpAdd</display-name>
    <servlet-name>EmpAdd</servlet-name>
    <servlet-class>ds.appointment_manager.services.EmpAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpAdd</servlet-name>
    <url-pattern>/EmpAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReg</display-name>
    <servlet-name>UserReg</servlet-name>
    <servlet-class>ds.appointment_manager.services.UserReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReg</servlet-name>
    <url-pattern>/UserReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser1</display-name>
    <servlet-name>LoginUser1</servlet-name>
    <servlet-class>ds.appointment_manager.services.LoginUser1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser1</servlet-name>
    <url-pattern>/LoginUser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>ds.appointment_manager.services.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookAppintment</display-name>
    <servlet-name>bookAppintment</servlet-name>
    <servlet-class>ds.appointment_manager.services.bookAppintment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookAppintment</servlet-name>
    <url-pattern>/bookAppintment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpLogin</display-name>
    <servlet-name>EmpLogin</servlet-name>
    <servlet-class>ds.appointment_manager.services.EmpLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLogin</servlet-name>
    <url-pattern>/EmpLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpRegister</display-name>
    <servlet-name>EmpRegister</servlet-name>
    <servlet-class>ds.appointment_manager.services.EmpRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpRegister</servlet-name>
    <url-pattern>/EmpRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookAppointmentemp</display-name>
    <servlet-name>bookAppointmentemp</servlet-name>
    <servlet-class>ds.appointment_manager.services.bookAppointmentemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookAppointmentemp</servlet-name>
    <url-pattern>/bookAppointmentemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>ds.appointment_manager.services.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordUser</display-name>
    <servlet-name>ChangePasswordUser</servlet-name>
    <servlet-class>ds.appointment_manager.services.ChangePasswordUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordUser</servlet-name>
    <url-pattern>/ChangePasswordUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordEmp1</display-name>
    <servlet-name>ChangePasswordEmp1</servlet-name>
    <servlet-class>ds.appointment_manager.services.ChangePasswordEmp1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordEmp1</servlet-name>
    <url-pattern>/ChangePasswordEmp1</url-pattern>
  </servlet-mapping>
</web-app>